@*HOME PAGE*@

<div id="particles-js" style="height: 900px; z-index: 0"></div>

<div>
    <p style="text-align: center; margin-top: 10px; color: #81cac4;">@ViewBag.LoggedOut</p>
</div>

<h3 style="text-align:center; margin-top:-650px; margin-bottom: 300px; font-weight:200; font-size:30px; letter-spacing:1.5px;">TECHNOLOGIES</h3>

<div class="container center-div z-depth-5" style="background-color:#020305; margin-top:-200px; margin-bottom:1px; z-index: 100; text-align:center; width:55%; padding:10px; border: .5px dotted #cfd8dc;">
    <ul id="tech-used">
        <li>C#</li><li>ASP.NET MVC 5</li><li>ASP.NET Core</li><li>Web API</li><li>LINQ</li>
        <li>Entity Framework</li><li>MS Visual Studio 2017</li><li>Microsoft SQL Server</li>
        <li>SSMS</li><li>Bootstrap</li><li>Materialize</li><li>Kendo UI</li>
        <li>JavaScript</li><li>jQuery</li><li>JSON</li><li>Ajax</li><li>HTML/CSS</li>
        <li>Git</li><li>WordPress</li><li>AWS</li><li>Azure</li>
    </ul>
</div>

<script src="~/js/particles.js"></script>

<script type="text/javascript">
    particlesJS("particles-js",
        {
            "particles": {
                "number": {
                    "value": 29,
                    "density": {
                        "enable": true,
                        "value_area": 599
                    }
                },
                "color": {
                    "value": "#cfd8dc"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.49716301422833176,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 2.7,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 48.7246327380807,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 304.6482915644493,
                    "color": "#525e78",
                    "opacity": 0.5130918594769673,
                    "width": 0.5
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        }

    );
</script>
