@{ string lagoonNebulaText = "The Lagoon Nebula is a giant interstellar cloud in the constellation Sagittarius and is estimated to be between 4,000-6,000 light-years from the Earth. Credits: NASA, ESA, and STScI";}

<h3 style="margin:100px;">Homepage...</h3>
<h4>Some text will be here</h4>

<div>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header black"><i class="material-icons" style="font-size:30px; padding-top:5px;">queue</i>Lagoon Nebula</div>
            <div class="collapsible-body"><span>@lagoonNebulaText</span></div>
        </li>
    </ul>
</div>


@*Main Image*@
<div class="parallax-container">
    <div class="parallax"><img src="~/images/nebula.png" /></div>
</div>

<p style="margin-bottom:500px;">Some text will be here...</p>


<script>
    $(document).ready(function () {
        $('.parallax').parallax();
        $('.collapsible').collapsible();
    });
</script>
