@model ChangePasswordViewModel
@{ViewData.AddActivePage(ManageNavPages.ChangePassword);}

<div class="container">
    <h3 class="centerAccountText" style="margin-top:150px;">Change Your Password</h3>
    <div><h5 style="text-align: center; margin-top: 10px; color:  #c5e1a5;">@ViewBag.Updated</h5></div>
    <div class="row" style=" margin: 75px 0px 50px;">
        <div class="accountBox col l12 s12 z-depth-4">
            <form class="acctForm" asp-action="ChangePassword" method="post">
                <h4 class="thinBlackHeading flow-text">Enter Your New Password</h4>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input asp-for="OldPassword" id="OldPassword" placeholder="Old Password" class="validate" required type="password" style="width: 85%" />
                    <label for="OldPassword">Current Password</label>
                    <p><span asp-validation-for="OldPassword" class="validate"></span></p>
                </div>
                <div class="input-field" style="margin-top: 21px">
                    <i class="material-icons prefix">lock_outline</i>
                    <input asp-for="NewPassword" id="NewPassword" placeholder="New Password" class="validate" required type="password" style="width: 85%" />
                    <label for="NewPassword">New Password</label>
                    <p><span asp-validation-for="NewPassword" class="validate"></span></p>
                </div>
                <div class="input-field" style="margin-top: 21px">
                    <i class="material-icons prefix">check</i>
                    <input asp-for="ConfirmPassword" id="ConfirmPassword" onchange="check('#ConfirmPassword')" placeholder="Confirm Password" class="validate" required type="password" style="width: 85%" />
                    <label for="ConfirmPassword">Confirm Password</label>
                    <p><span asp-validation-for="ConfirmPassword" class="validate"></span></p>
                </div>
                <div>
                    <p style="color: #D50000;">@ViewBag.Error</p>
                </div>
                @Html.HiddenFor(x => x.StatusMessage)
                <button type="submit" id="updatePassword" class="waves-effect waves-light btn sharpCorners black-btn"><span class="far fa-save"></span> update password</button>
                <div class="progress" style="display: none;">
                    <div class="indeterminate"></div>
                </div>
                <div style="margin-top: 70px;">
                    <a class="waves-effect waves-light btn sharpCorners black-btn" asp-action="Index" style="margin: 1px;"><i class="fas fa-backward" style="font-size: 15px;"></i> cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $('#updatePassword').click(function () {
        if ($('#ConfirmPassword').val() !== "" && $('#Password').val() !== "" && $('#NewPassword').val() !== "") {
            if ($('#NewPassword').val() == $('#ConfirmPassword').val())
                $('.progress').show();
        } 
    });
</script>