@model MyWebsite.Models.BudgetProject.Budget

@{ var user = User.Identity.Name; }

<div class="partialLoginText"><p>@Html.Partial("_LoginPartial", 1)</p></div>

<h3 class="painlessBudgetTitle">The Painless Budget</h3>

<div class="container center-div" style="margin-bottom:100px;">
    <form asp-action="Edit">
        <div class="row">
            <div class="col l12" align="center" style="margin-top:25px;">
                <a href='@Url.Action("Index", "Budgets", new {userName = user})' class="waves-effect waves-light underline-hover btn-large grey darken-4" style="margin-top: 10px;">
                    <i class="material-icons left">arrow_back</i>Return to Budget
                </a>
                <button class="waves-effect waves-light btn-large underline-hover grey darken-4" style="margin-top:10px;" type="submit" name="Save">
                    <i class="material-icons left">save</i>Save Budget Limits
                </button>
            </div>
        </div>

        <h4 class="grnEditBtn">Edit Your Budget's Limits</h4>

        <div class="row" align="center">
            <div class="col s12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Month" />

                <div class="row">
                    <div class="col l5 m4"></div>
                    <div class="col l6 m5 s12">
                        <label class="editBudgetLimitLabel">Grocery | Restaurant </label>
                        <input asp-for="GroceryLimit" class="editTag" />
                    </div>
                    <div class="col l5 m4"></div>
                </div>

                <div class="row">
                    <div class="col l5 m4"></div>
                    <div class=" col l6 m5 s12">
                        <label class="editBudgetLimitLabel">Mortgage | Rent </label>
                        <input asp-for="HousingLimit" class="editTag" />
                    </div>
                    <div class="col l5 m4"></div>
                </div>

                <div class="row">
                    <div class="col l5 m4"></div>
                    <div class="col l6 m5 s12">
                        <label class="editBudgetLimitLabel">Entertainment </label>
                        <input asp-for="EntLimit" class="editTag" />
                    </div>
                    <div class="col l5 m4"></div>
                </div>

                <div class="row">
                    <div class="col l5 m4"></div>
                    <div class="col l6 m5 s12">
                        <label class="editBudgetLimitLabel">Bills | Payments </label>
                        <input asp-for="BillsLimit" class="editTag" />
                    </div>
                    <div class="col l5 m4"></div>
                </div>

                <div class="row">
                    <div class="col l5 m4"></div>
                    <div class="col l6 m5 s12">
                        <label class="editBudgetLimitLabel">Gas | Auto </label>
                        <input asp-for="GasLimit" class="editTag" />
                    </div>
                    <div class="col l5 m4"></div>
                </div>

                <div class="row">
                    <div class="col l5 m4"></div>
                    <div class="col l6 m5 s12">
                        <label class="editBudgetLimitLabel">Miscellaneous </label>
                        <input asp-for="MiscLimit" class="editTag" />
                    </div>
                    <div class="col l5 m4"></div>
                </div>

            </div>
        </div>
    </form>
</div>

<style>
    /*.field-validation-error {
        display: none !important;
    }*/

    input[type=text]:not(.browser-default) {
        background-color: #080C10 !important;
    }
</style>
