
/*LAYOUT*/
body {
    background-color: #080C10;
    color: #cfd8dc;
    height: 100%;
    padding: 0;
    margin: 0;
}

    body::after {
        content: '';
        display: block;
        height: 50px;
    }

.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

html {
    height: 100%;
}


.center-div {
    margin: 0 auto;
    width: 100px;
}

.textGrey {
    color: #cfd8dc;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 25px;
}

/*Preloader*/
.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #31374c !important;
    animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate{
    background-color: black !important;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: black !important;
    animation: indeterminate_second 1.5s infinite ease-in;
}


/*Footer*/
footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
}

#horizontal-list li {
    display: inline;
    padding: 10px;
}

.footer-icon {
    font-size: 30px;
    margin-top: 15px;
    margin-right: 13px;
    padding-bottom: 25px;
}

    .footer-icon:hover {
        color: white;
    }

#copyright {
    margin-right: 20px;
    font-size: 15px;
}

.footer-copyright {
    margin: 0px !important;
    bottom: 0;
}

/*Mobile Navbar*/


.mobileNav ul li:hover {
    background-color: black !important;
}

.mobileNav ul li {
    float: none !important;
    text-align: center;
    display: inline-block !important;
}

    .mobileNav ul li a:hover {
        color: #263442 !important;
    }

.mobileNav ul a {
    font-size: 23px !important;
    margin: 10px !important;
    letter-spacing: 2.5px !important;
    color: #cfd8dc !important;
}

.mobileNav {
    height: 140px !important;
    padding-top: 40px;
    padding-bottom: 40px;
}

#navHomeIcon:hover {
    color: #263442;
}

#emailAddress:hover {
    color: white !important;
}

/*Navbar*/

.mainNav ul li:hover {
    background-color: black !important;
}

.mainNav ul a:hover {
    color: #cfd8dc !important;
    background-color: #141d26;
    opacity: 0.9;
    border-radius: 2px;
}

.mainNav ul a {
    font-size: 23px !important;
    margin: 7px !important;
    letter-spacing: 2.5px !important;
    color: #cfd8dc !important;
}

.mainNav {
    height: 140px !important;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Buttons & Text*/
#buttonInLine {
    display: inline !important;
}

.sharpCorners {
    border-radius: 0px !important;
}

a {
    color: #cfd8dc !important;
}


.lightTeal-hover:hover {
    background-color: #54b798 !important;
}

.userName {
    color: #cfd8dc;
    letter-spacing: 1.5px;
    font-size: 20px;
    padding-right: 10px;
    font-weight: 100 !important;
    background-color: #080C10 !important;
}

.hover-underline {
    cursor: pointer;
    border-radius: 0px !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

    .hover-underline:hover {
        border-bottom: dotted 1px #cfd8dc;
    }

.black-btn {
    background-color: #141d26 !important;
    color: #cfd8dc !important;
    text-decoration: none !important;
    text-transform: lowercase !important;
    font-size: 17px !important;
}

    .black-btn:hover {
        background-color: #263442 !important;
        border: none !important;
    }

.greyBudgetBtn {
    font-weight: 600;
    background-color: #263238 !important;
}


.greyBudgetBtn:hover {
    background-color: #37474f !important;
}

.greenBudgetBtn {
    font-weight: 700 !important;
    background-color: #c5e1a5 !important;
    color: #020305 !important;
}

    .greenBudgetBtn:hover {
        background-color: #dcedc8 !important;
    }

.underline-hover {
    border-radius: 0 !important;
    font-weight: 700;
}

    .underline-hover:hover {
        text-decoration: underline;
    }

.add-btn:hover {
    color: black !important;
}

#gitHubIcon:hover {
    color: #cfd8dc !important;
}

.grey-hover:hover {
    background-color: #a8b3c4 !important;
}

.underlineTitle {
    margin-top: 140px;
    text-align: center;
    padding-bottom: 10px;
}

/*HOME*/

#contactImage {
    background-image: url('../images/nebula.png');
    border-radius: 4px;
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px;
}

#homeImage {
    background-image: url('../images/darkStars.jpg');
    border-radius: 4px;
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px;
}

#appsImage {
    background-image: url('../images/appsImage.png');
    border-radius: 4px;
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px;
}


.contactFormIcons {
    font-size: 35px !important;
    margin-bottom: 5px;
    color: #020305;
}


.appBoxes {
    border: 1px solid white;
    background-color: #020305;
    padding: 5px;
    margin: 15px;
    border-radius: 4px;
}

#gitHubIcon {
    color: #a8b3c4;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#websiteTitle {
    text-align: center !important;
}

.darkContainer {
    background-color: #a8b3c4;
    text-align: center;
    opacity: 0.6;
    border-radius: 4px;
    height: 100%;
}


#tech-used {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    color: #cfd8dc;
    font-size: 21px;
}

.thinHeading {
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 130px;
}

.thinBlackHeading {
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 25px;
    color: black;
}

.techBoxes li {
    border: 1px solid white;
    background-color: #020305;
    padding: 3px;
    margin: 5px;
    border-radius: 4px;
    font-weight: 500;
}

.appBoxes {
    border: 1px solid white;
    background-color: #020305;
    padding: 5px;
    margin: 15px;
    border-radius: 4px;
}

/*Projects*/
.darkBox {
    background-color: #020305;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

/*Other*/

.collapsible {
    width: 40%;
    border: none !important;
}

.collapsible-header {
    border-bottom: none !important;
    font-size: 25px;
    color: #cfd8dc;
}

.collapsible-body {
    border-bottom: 1px dotted #cfd8dc;
    font-size: 18px;
    color: #cfd8dc;
}


.field-validation-error {
    color: #d32f2f !important;
}

.field-validation-error {
    color: #d32f2f !important;
}

/*Budget*/
#budgetPics img {
    border: 5px solid #cfd8dc;
    padding: 10px;
    margin: 5px;
}

/*Budget Homepage*/
#Total Spent {
    color: #cfd8dc !important;
    fill: white !important;
    font-size: 54px !important;
    background-color: white !important;
}


#Total Remaining Budget {
    color: #cfd8dc !important;
}

.trashcan-icon {
    color: #cfd8dc !important;
}

    .trashcan-icon:hover {
        color: #c5e1a5 !important;
    }

.editBudgetLimitLabel {
    color: #cfd8dc;
    font-size: 25px;
    float: left;
    margin-top: 13px
}

.painlessBudgetTitle {
    text-align: center;
    margin-top: 90px;
    text-decoration: underline
}


.grnEditBtn {
    margin-top: 55px;
    margin-bottom: 35px;
    font-weight: bold;
    color: #54b798;
    text-align: center;
}

.editTag {
    margin-left: 15px !important;
    width: 85px !important;
    float: left !important;
    text-align: center !important;
}

/*Add transaction*/
#addTransactionContainer {
    background-color: #10171e;
    padding: 10px;
    opacity: 0.95;
    text-align: center;
}


#categoryDropdown .dropdown-content li > a, .dropdown-content li > span {
    font-size: 20px !important;
    color: #cfd8dc !important;
    border: none !important;
    border-bottom: none !important;
    text-align: center;
    background-color: #37474f;
}

    #categoryDropdown .dropdown-content li > a, .dropdown-content li > span:hover {
        background-color: #37474f !important;
        color: #c5e1a5 !important;
        opacity: 0.95;
    }

#categoryDropdown .dropdown-content li > a, .dropdown-content li > span {
    border: 1px solid #37474f !important;
    opacity: 0.95;
}

#categoryDropdown .select-wrapper, input.select-dropdown {
    background-color: #37474f !important;
    color: #cfd8dc !important;
    font-size: 20px !important;
    text-align: center;
    border: 1px solid #c5e1a5 !important;
}

    #categoryDropdown .select-wrapper, input.select-dropdown:hover {
        color: #c5e1a5 !important;
        background-color: #37474f !important;
    }

#categoryDropdown, input, textarea, select {
    color: #cfd8dc !important;
    font-weight: bold !important;
    border-bottom: 1px solid #c5e1a5 !important;
}

/*Contact*/

#Message {
    border-bottom: none !important;
    color: #9e9e9e !important;
    margin-top: -15px;
    height: 100px;
    font-size: 20px;
    width: 94%;
}

/*Login*/

/*Placeholder*/
.acctForm input, .actual-edit-overlay {
    -webkit-text-fill-color: #020305 !important;
}

    .acctForm input + label {
        color: #a8b3c4 !important;
        font-size: 31px !important;
    }

    .acctForm input:focus + label {
        color: #020305 !important;
        margin-top: -20px;
    }

    .acctForm input[type=text]:not(.browser-default) {
        background-color: #a8b3c4 !important;
        font-size: 20px !important;
        border-bottom: 1px solid #9e9e9e !important;
        width: 85% !important;
    }

    /* icon prefix focus color */
.acctForm .input-field .prefix.active {
    color: #020305 !important;
}

/*Username input*/

    /*Username input - onclick*/
    .acctForm input[type=text]:not(.browser-default):focus {
        border-bottom: 3px solid #8397c1 !important;
        color: #8397c1 !important;
    }

/* valid color */
.acctForm .input-field input[type=text].valid {
    border-bottom: 3px solid #2fef36 !important;
    color: #2fef36 !important;
}
/* invalid color */
.acctForm .input-field input[type=text].invalid {
    border-bottom: 3px solid #d32f2f !important;
    color: #d32f2f !important;
}

/*Password input*/
.acctForm input[type=password]:not(.browser-default) {
    background-color: #a8b3c4 !important;
    font-size: 20px !important;
    border-bottom: 1px solid #9e9e9e !important;
}

    /*Password input - onclick*/
    .acctForm input[type=password]:not(.browser-default):focus {
        border-bottom: 3px solid #8397c1 !important;
        color: #8397c1 !important;
    }

/* valid color */
.acctForm .input-field input[type=password].valid {
    border-bottom: 3px solid #2fef36 !important;
    color: #2fef36 !important;
}
/* invalid color */
.acctForm .input-field input[type=password].invalid {
    border-bottom: 3px solid #d32f2f !important;
    color: #d32f2f !important;
}

.accountBox {
    background-color: #a8b3c4;
    padding: 50px !important;
    border-radius: 4px;
    opacity: 0.55;
}


.centerAccountText {
    text-align: center;
    font-weight: 200;
    letter-spacing: 1px;
}

.accountButtons {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: lowercase !important;
    font-size: 13px !important;
}

.partialLoginText {
    text-align: center;
    margin-top: 100px;
    text-align: center;
}

.purple-hover {
    text-decoration: underline;
    font-size: 25px;
}

    .purple-hover:hover {
        color: #a8b3c4 !important;
        font-weight: bold;
    }

#saveBtn:hover {
    background-color: #54b798 !important;
}


.squareSaveBtn {
    font-weight: bold;
    color: #54b798 !important;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.tooltippedStyle {
    margin-bottom: 25px !important;
    margin-left: 150px !important;
    background-color: #263238 !important;
    font-weight: bold !important;
}

.donutSize {
    width: 600px;
    height: 300px;
    margin-top: 10px;
}

.redCenterTxt {
    color: #d32f2f;
    text-align: center
}

.greenCenterTxt {
    text-align: center;
    color: #c5e1a5;
    margin-top: 10px;
}

.budgetCatBtns {
    font-weight: bold;
    font-size: 13px !important;
    margin-top: 5px !important;
}

/*Set first budget*/
input.budgetLimitInput {
    color: #c5e1a5 !important;
    background-color: #1a232d !important;
    border: 1px solid #cfd8dc !important;
    padding: 5px !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 20px !important;
    width: 10% !important;
    font-weight: bold !important;
}

/*Weather*/

.weatherBtn {
    border-radius: 50px !important;
    background-color: #141d26 !important;
    color: #cfd8dc !important;
}

    .weatherBtn:hover {
        background-color: #263442 !important;
    }

.weatherCheckBtn {
    border-radius: 50px !important;
    background-color: #141d26 !important;
    color: #cfd8dc !important;
}

    .weatherCheckBtn:hover {
        background-color: #263442 !important;
        color: #1e9948 !important;
    }

.weatherCityInput {
    margin-top: 15px !important;
    width: 150px !important;
    color: black !important;
    font-weight: bold;
    background-color: #b0b5c1 !important;
    border: none !important;
    height: 36px !important;
    border-bottom: black !important;
    display: inline-block;
}

    .weatherCityInput input[type=text]:not(.browser-default) {
        border-bottom: 1px solid black !important;
        border: none !important;
        box-shadow: none !important;
        background-color: #c3cce0 !important;
        color: #cfd8dc !important;
    }

    .weatherCityInput input[type=text]:focus {
        outline: none !important;
    }

.switch label input[type=checkbox]:checked + .lever {
    background-color: #ff7733 !important;
}

    .switch label input[type=checkbox]:checked + .lever:after {
        background-color: white !important;
    }

.weatherHiddenBlackTxt {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 30px;
    display: none;
}

#particles-js-snow canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#particles-js canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#weatherIcon {
    width: 55px;
    height: auto;
}

/*MOBILE*/
@media only screen and (max-width: 750px) {
    /*Homepage*/
    #tech-used {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        font-size: 19px;
        width: 60%;
        margin: auto;
    }

        #tech-used li {
            margin: 15px;
        }
    /*Footer*/
    .footer-icon {
        font-size: 18px !important;
    }

    #copyright {
        font-size: 13px !important;
    }

    footer {
        height: 60px;
    }

    #horizontal-list li {
        padding: 2px;
    }
    /*Weather*/
    #alertEmail {
        width: 65% !important;
    }
    /*Login*/
    #loginImage {
        background-image: url('../images/spiralGalaxy.jpg');
        border-radius: 4px;
        background-size: cover;
        background-position: 50% 50%;
        padding: 60px;
    }
   
    input:focus + label {
        font-size: 20px !important;
        margin-top: -5px !important;
    }
}

@media only screen and (max-width: 750px) and (min-width:0px) {
    #budgetPics img {
        max-width: 400px;
        max-height: 400px;
    }
}

    @media only screen and (max-width: 1200px) and (min-width:750px) {
        #tech-used {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            font-size: 19px;
            width: 80%;
            margin: auto;
            margin-bottom: 15px !important;
        }

        /*Weather*/
        #alertEmail {
            width: 50% !important;
        }

        #budgetPics img {
            max-width: 700px;
            max-height: 700px;
        }
    }

    @media only screen and (max-width: 1500px) and (min-width:1200px) {
        #tech-used {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            font-size: 20px;
        }

        #budgetPics img {
            max-width: 900px;
            max-height: 900px;
        }
    }
