body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

.center-div {
    margin: 0 auto;
    width: 100px;
}

nav ul li:hover {
    background-color: black !important;
}

nav ul a:hover {
    color: #cfd8dc !important;
    border: 1px solid #cfd8dc !important;
}

nav ul a {
    font-size: 23px !important;
    margin: 10px !important;
    letter-spacing: 2.5px !important;
    color: #cfd8dc !important;
}

nav {
    height: 140px !important;
    padding-top:40px;
    padding-bottom:40px;
}


.sharpCorners {
    border-radius: 0px !important;
}

#buttonInLine li {
    display: inline;
}

a {
    color:#cfd8dc !important;
}

.textGrey {
    color: #cfd8dc;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 25px;
}

.parallax img {
    width: 100%;
    opacity: 5;
}

.parallax {
    height: 80%;
}

.collapsible {
    width: 40%;
    border: none !important;
}

.collapsible-header {
    border-bottom: none !important;
    font-size: 25px;
    color: #cfd8dc;
}

.collapsible-body {
    border-bottom: 1px dotted #cfd8dc;
    font-size: 18px;
    color: #cfd8dc;
}


input[type=email]:not(.browser-default) {
    border-bottom: 1px solid #d50000 !important;
    box-shadow: 0 1px 0 0 black !important;
    background-color: black !important;
}

input[type=email]:not(.browser-default) {
    border-bottom: 1px solid #d50000 !important;
    box-shadow: 0 1px 0 0 black !important;
    background-color: black !important;
}

input[type=password]:not(.browser-default) {
    border-bottom: 1px solid #d50000 !important;
    box-shadow: 0 1px 0 0 black !important;
    background-color: black !important;
}

input.valid[type=password]:not(.browser-default) {
    border-bottom: 1px solid #d50000 !important;
    box-shadow: 0 1px 0 0 black !important;
    background-color: black !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    color: red !important;
}


input[type=text]:not(.browser-default) {
    background-color: #212121 !important;
    color: #b2dfdb !important;
    font-size: 30px;
}

input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
#budget-limit-amount,
#purchase-item {
    border-bottom: 1px solid #cfd8dc !important;
    color: #b2dfdb;
    font-size: 30px;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
    color: #212121 !important;
    /*default white zero and white underline*/
}




