@*Project Directory*@


<div style="margin: 50px;">
    <h3 style="margin-top:100px; text-align:center;font-weight:200; padding-bottom:10px; letter-spacing:1.5px; border-bottom: 1px dotted #cfd8dc;">PROJECTS</h3>
    <div class="row">
        <div class="col l4 m12 s12">
            <div class="card" style="width:70%; margin:70px;">
                <div class="card-image">
                    <img src="~/images/stars.jpg" />
                    <span class="card-title" style="font-size:30px;">GitHub</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">arrow_right</i></a>
                </div>
                <div class="card-content black-text">
                    <p>View the code for this site and the projects within it here...</p>
                </div>
            </div>
        </div>

        <div class="col l4 m12 s12">
            <div class="card" style="width:70%; margin:70px;">
                <div class="card-image">
                    <img src="~/images/stars.jpg" />
                    <span class="card-title" style="font-size:30px;">Budget App</span>
                    <a href="@Url.Action("Index", "BudgetEntries")" class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">arrow_right</i></a>
                </div>
                <div class="card-content black-text">
                    <p>Some text explaining what it is will go here... Some text explaining what it is will go here...</p>
                </div>
            </div>
        </div>

        <div class="col l4 m12 s12">
            <div class="card" style="width:70%; margin:70px;">
                <div class="card-image">
                    <img src="~/images/stars.jpg" />
                    <span class="card-title" style="font-size:30px;">Project Name</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">arrow_right</i></a>
                </div>
                <div class="card-content black-text">
                    <p>Some text explaining what it is will go here... Some text explaining what it is will go here...</p>
                </div>
            </div>
        </div>

        <div class="col l4 m12 s12">
            <div class="card" style="width:70%; margin:70px;">
                <div class="card-image">
                    <img src="~/images/stars.jpg" />
                    <span class="card-title" style="font-size:30px;">Project Name</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">arrow_right</i></a>
                </div>
                <div class="card-content black-text">
                    <p>Some text explaining what it is will go here... Some text explaining what it is will go here...</p>
                </div>
            </div>
        </div>

        <div class="col l4 m12 s12">
            <div class="card" style="width:70%; margin:70px;">
                <div class="card-image">
                    <img src="~/images/stars.jpg" />
                    <span class="card-title" style="font-size:30px;">Project Name</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">arrow_right</i></a>
                </div>
                <div class="card-content black-text">
                    <p>Some text explaining what it is will go here... Some text explaining what it is will go here...</p>
                </div>
            </div>
        </div>
    </div>
</div>


