@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
<link href="~/css/site.css" rel="stylesheet" />

@{ int appType = Convert.ToInt32(ViewData["AppType"]);}

<h3 style="text-align:center; margin-top:100px; font-weight:200; letter-spacing:1.5px;">LOGIN</h3>
<div style="width:30%; margin-left: 150px; margin-top:150px;">
    <div>
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4 style="text-align:center; margin-top:100px; font-weight:200; letter-spacing:1.5px;">Enter Your Account Information</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="textGrey" asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" style="color:#cfd8dc;" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label class="textGrey" asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" style="color:#cfd8dc;" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <div input type="checkbox">
                        <label class="textGrey" asp-for="RememberMe">
                            <input class="textGrey" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                @Html.Hidden("AppType", appType)
                <div class="form-group">
                    <button type="submit" class="waves-effect waves-light btn sharpCorners black-text" style="background-color:#81cac4; font-weight:bold;">Log in</button>
                </div>
                <div class="form-group">
                    <p><a asp-action="ForgotPassword">Forgot your password?</a></p>
                    <p><a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a></p>
                </div>
            </form>
        </section>
    </div>
</div>

<div style="height:300px;"></div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<style>
    .sharpCorners {
        border-radius: 0px !important;
    }

</style>