@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
<link href="~/css/site.css" rel="stylesheet" />

@{
    int appType = Convert.ToInt32(ViewData["AppType"]);
    var error = "";
    if (ViewBag.Error != null)
    {
        error = ViewBag.Error;
    }
}

<h3 style="text-align:center; margin-top:100px; font-weight:200; letter-spacing:1.5px;">LOGIN</h3>

<div style="width:30%; margin-left: 150px; margin-top:150px;">
    <div>
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4 style="text-align:center; margin-top:100px; margin-bottom: 30px; font-weight:200; letter-spacing:1.5px;">Enter Your Account Information</h4>
                <div>
                    <label class="textGrey">Username</label>
                    <input asp-for="Email" style="color:#cfd8dc" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div>
                    <label class="textGrey" asp-for="Password"></label>
                    <input asp-for="Password" style="color:#cfd8dc" />
                    <span asp-validation-for="Password"></span>
                </div>
                @Html.Hidden("AppType", appType)
                <div>
                    <div><p style="color: #D50000;">@error</p></div>
                    <button type="submit" class="waves-effect waves-light btn lightTeal-hover sharpCorners black-text" style="background-color: #81cac4; font-weight: bold;">Log in</button>
                </div>
                <div>
                    <p><a class="hover-underline" asp-action="ForgotPassword">Forgot your password?</a></p>
                    <p><a class="hover-underline" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a></p>
                </div>
            </form>
            <div style="margin-top: 10px;">
                <a class="hover-underline" onclick="window.history.go(-1)">Cancel</a>
            </div>
        </section>
    </div>
</div>

<div style="height:300px;"></div>


