<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JordynThompson</title>
        
    <environment>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/materialize.css" />
    </environment>
    
</head>

<body style="color:#cfd8dc; background-color:black;">
    @*NAVBAR*@
    @Html.Partial("_NavBarPartial");

    @RenderBody()
    @RenderSection("Scripts", required: false)

    @*<footer>
            <p>&copy; 2018 - JordynThompson</p>
        </footer>*@

    <environment>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</body>
</html>

<style>
    nav ul li:hover {
        background-color: black;
    }

    nav ul a:hover {
        color: #cfd8dc;
        border: 1px solid #cfd8dc;
    }

    nav ul a {
        font-size: 23px;
        margin: 10px;
        letter-spacing: 2.5px;
        color: #cfd8dc;
    }

    nav{
        height:90px;
    }
</style>