@using Microsoft.AspNetCore.Identity
@using MyWebsite.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model int

<link rel="stylesheet" href="~/css/materialize.css" />



@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul id="buttonInLine">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="blue-grey-lighten-4-text userName" style="font-size:20px;">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <button type="submit" class="waves-effect waves-light btn sharpCorners black-text" style="background-color:#81cac4; font-weight:bold;">Log out</button>
                </li>
            </ul>
        </form>
    </div>
}
else
{
    <div class="container">
        <ul id="buttonInLine">
            <li><a asp-area="" asp-controller="Account" asp-action="Register" class="waves-effect waves-light btn sharpCorners black-text" style="background-color:#81cac4; font-weight:bold;">Register</a></li>
            <li><a href='@Url.Action("Login", "Account", new { AppType = Model}, null)' class="waves-effect waves-light btn sharpCorners black-text" style="background-color:#81cac4; font-weight:bold;">Log in</a></li>

        </ul>
    </div>
}

<style>

    .userName {
        color: #cfd8dc;
        letter-spacing: 1.5px;
        font-size: 25px;
        padding-right: 13px;
    }

    .sharpCorners {
        border-radius: 0px !important;
    }
</style>

