@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model int

<link rel="stylesheet" href="~/css/materialize.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

@if (SignInManager.IsSignedIn(User))
{
    <div style="margin-right: 100px; padding-bottom: 10px;">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <button class="waves-effect waves-light btn sharpCorners black-btn accountButtons z-depth-3"><i class="fas fa-user-cog" style="color: #cfd8dc; font-size: 13px !important;">@Html.ActionLink( User.Identity.Name, "Index", "Manage", new { AppType = Model }, new { @style = "font-family: 'Arial' !important; font-weight: 400; margin-left: 5px;" })</i></button>
            <button type="submit" class="waves-effect waves-light btn sharpCorners black-btn accountButtons z-depth-3"><i class="fas fa-sign-out-alt" style="color: #cfd8dc; font-size: 13px !important;"></i> sign out</button>
        </form>
    </div>
}
else
{
    <div style="margin-right: 100px; padding-bottom: 10px;">
        <button class="waves-effect waves-light btn sharpCorners black-btn accountButtons z-depth-3"><span class="far fa-user" style="color: #cfd8dc">@Html.ActionLink(" Register", "Register", "Account", new { AppType = Model }, new { @style = "font-family: 'Arial' !important;" })</span></button>
        <button class="waves-effect waves-light btn sharpCorners black-btn accountButtons z-depth-3"><span class="fas fa-sign-in-alt" style="color: #cfd8dc">@Html.ActionLink(" Log in", "Login", "Account", new { AppType = Model }, new{@style="font-family: 'Arial' !important; font-weight: 400;"})</span></button>
    </div>
}

