<div class="navbar-fixed">
    <nav class="black">
        <div class="nav-wrapper" style="margin-left:100px; margin-right: 100px;">
            <a href="#!" class="brand-logo" style="letter-spacing:2.5px; color:#cfd8dc;">JT</a>
            <ul class="right hide-on-med-and-down">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">ABOUT</a></li>
                <li><a asp-area="" asp-controller="Projects" asp-action="Index">PROJECTS</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</div>